/* general  */
                                     
/* datos para probar solo*/
body{    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    background-color: rgb(237, 232, 232);
    margin: 0 auto;
    margin-top: 65px;
    padding: 10px;
    max-width: 100%; 
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    text-align: center;
}

nav.boton{
    float: right;
    margin-right: 10px;
}


.imgIndex {

    display: flex;
    flex-direction: column;
    float: left;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.texto{
    padding: 10px;
    text-align: center;
    width: 100%;
}

.imagenes{
    display: flex;
    justify-content: center;
}

.imagenes img{
    width: 300px;
    height: 300px;
    text-align: center;
    margin-right: 20px;
}


header{
    background-color: rgb(223, 216, 216);
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 470px; 
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav ul li{
    display: inline;
    margin-left: 20px; 
}


.link a{
    padding: 10px;
    text-decoration: none;
    color: rgb(46, 56, 122);
}   

.link a:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(108, 111, 130);
}

/*Estilos para los hipervinculos*/
a:link, a:visited{
    color: rgb(46, 56, 122);
}

a:hover{
    color: #dea623;
}


.imagen{
    flex-direction: row;
    text-align: center;

    
}

.imagen img{
    text-align: center;
    margin-right: 100px;
    max-width: 60%; /* Ancho máximo del contenedor padre */
    max-height: 60%; /* Altura máxima del contenedor padre */
    width: auto; /* Permite que la anchura se ajuste automáticamente según la altura */
    height: auto;
    float: right;

}

.imagen_pista{
    flex-direction: row;
    text-align: center; 
}

.imagen_pista img{
    text-align: center;
    margin-right: 100px;
    max-width: 60%; /* Ancho máximo del contenedor padre */
    max-height: 60%; /* Altura máxima del contenedor padre */
    width: auto; /* Permite que la anchura se ajuste automáticamente según la altura */
    height: auto;
    float: right;

}

.contenido-servicio {
    display: flex;
    justify-content: space-between;
}

.texto_servicio {
    flex-grow: 1;
}

.imagenes_servicio {
    flex-direction: row;
    text-align: center;
}

.imagen_servicio img{
    text-align: center;
    margin-right: 100px;
    max-width: 40%; /* Ancho máximo del contenedor padre */
    max-height: 40%; /* Altura máxima del contenedor padre */
    width: auto; /* Permite que la anchura se ajuste automáticamente según la altura */
    height: auto;
    float: right;

}
