/* general  */
                                     
/* datos para probar solo*/
html{
    background-color:#f3f2f2; 
}
body{    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    background-color: rgb(237, 232, 232);
    margin: 0 auto;
    margin-top: 65px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
    border: 2px solid black;
    max-width: 100%; 
    min-height: 65vh;
}


h1{
    text-align: center;
}

nav.boton{
    float: right;
    margin-right: 10px;
}


.imgIndex {
    display: flex;
    flex-direction: column;
    float: left;
    margin-bottom: 60px;
}

.texto{
    padding: 10px;
    text-align: center;
    width: 100%;
}

.imagenes{
    display: flex;
    justify-content: center;
}

.imagenes img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin-right: 20px;
}


header{
    background-color: rgb(223, 216, 216);
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 470px; 
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav ul li{
    display: inline;
    margin-left: 20px; 
}


.link a{
    padding: 10px;
    text-decoration: none;
    color: rgb(46, 56, 122);
}   

.link a:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(108, 111, 130);
}

/*Estilos para los hipervinculos*/
a:link, a:visited{
    color: rgb(46, 56, 122);
}

a:hover{
    color: #dea623;
}
