/* general  */                               
body{    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    background-color: rgb(237, 232, 232);
    margin: 0 auto;
    padding: 1%;
}

h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2vw;
}
h2{
    font-size: 1.6vw;
    text-align: center;
    margin-top: 2vh;   
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(223, 216, 216);
    color: white;  
}

nav.boton{
    margin-right: 1%;
    float: right;
}

.texto{
    padding: 1%;
    text-align: center;
    width: 100%;
}

.imgIndex {
    display: flex;
    flex-direction: column;
    float: left; /* para colocar las fotos una al lado de otra horizontalmente */
    /*margin: 0 auto;*/
    align-items: center;
    justify-content: center;
}

.imagenes{
    display: flex;
    justify-content: center;
}

.imagenes img{
    width: 20vw;
    height: 20vw;
    text-align: center;
    margin-right: 2vw;
}

.texto-superpuesto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(224, 224, 142);
    padding: 5% 3%;
    color: #000;
    display: none;
}

.texto-superpuesto a{
    text-decoration: none;
}
.img-container {
    position: relative;
    display: inline-block;
}

.img-container:hover .texto-superpuesto {
    display: block;
}


.link1{
    background-color: rgb(223, 216, 216);
    color: white;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 80%; 
    font-size: 1.1vw;
}


nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav ul li{
    display: inline;
    margin-left: 2%; 
}


.link1 a{
    padding: 0.8em;
    text-decoration: none;
    color: rgb(46, 56, 122);
}   

.link1 a:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(108, 111, 130);
}

/*Estilos para los hipervinculos*/
 a:link, a:visited {
    color: rgb(46, 56, 122);
}

.imagen{
    flex-direction: row;
    text-align: center;  
}

.imagen img{
    text-align: center;
    margin-right: 4%;
    max-width: 60%; /* Ancho máximo del contenedor padre */
    max-height: 60%; /* Altura máxima del contenedor padre */
    width: auto; /* Permite que la anchura se ajuste automáticamente según la altura */
    height: auto;
    float: right;

}


.contenido-servicio {
    display: flex;
    justify-content: space-between;
}

.texto_servicio {
    flex-grow: 1;
}

.imagen_pista{
    flex-direction: row;
    text-align: center;
}

.imagen_pista img{
    text-align: center;
    max-width: 30%;
    max-height: 30%;
    width: auto;
    height: auto;
}

.imagenes_servicio {
    flex-direction: row;
    text-align: center;
}

.imagen_servicio img{
    text-align: center;
    margin-right: 5%;
    max-width: 40%; /* Ancho máximo del contenedor padre */
    max-height: 40%; /* Altura máxima del contenedor padre */
    width: auto; /* Permite que la anchura se ajuste automáticamente según la altura */
    height: auto;
    float: right;

}


.portada {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: flex-start; 
}
.localidad {
    text-align: center;
    margin: 0 1.5%; 
    background-color: rgb(223, 216, 216);
    width: 20%; /* Cambia el ancho según lo que necesites */
    height: 35vh;
}

.localidad a{
    text-decoration: none;
}
.imagenPortada{
    flex-direction: row;
    text-align: center;   
}

.imagenPortada img {
    width: 100%; /* Ancho máximo del contenedor padre */
    height: auto; /* Altura ajustada automáticamente */
    max-width: 100%; /* Ajuste máximo */
    max-height: 60vh; /* Altura relativa a la altura del viewport */
}

/* caja que tiene lo de elegir el lenguaje y el boton */
#idioma {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: baseline; /* Puedes ajustar esto según tus preferencias */
    width: 100%; /* Ajusta el ancho según tus necesidades */

}

#idioma select {
    flex: 1;
    width: 100%; /* Ajusta el ancho según tus necesidades */
    font-size: 0.8rem;
    padding: 0.6rem;
}

#idioma button {
    margin-left: 10px;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(89, 91, 91);
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    
}


/* visualizacion*/
.pistas{
    display: flex;
    flex-direction: column;
    float: left; /* para colocar una al lado de otra horizontalmente */
    /*margin: 0 auto;*/
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    padding:1%;
}
.textopistas{
    padding: 1%;
    background-color: rgb(220, 240, 245);
    /* centrar dentro de la caja q se crea con el padding */
    text-align: center;
    width: 100%;
}
.textopistas a{
    /* para quitar la línea de los links*/
    text-decoration: none;

}
#content{
    /*margin-bottom: 130px;*/
    padding-top: 5%;
    padding-bottom: 8%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c5c8c9;
    color: #fff;
    text-align: center;
    padding: 2% 0;
    clear: both;
}

/* Opcional: Ajusta la opacidad para que el contenido principal no oculte completamente el pie de página */
#content {
    margin-bottom: 100px; /* ajusta según la altura del pie de página */
}

/* Asegúrate de que el pie de página no se superponga con el contenido principal */
.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-above,
.footer-below {
    background-color: rgb(237, 232, 232);
}

footer img {
    width: 50px;
    height: 50px;
    margin-right: 5%;
    margin-left: 1%;
}

footer #redes {
    float: right;
    margin-right: 12%;
    font-weight: bold;
    color: #acaeaf;
}


/* FORMULARIO */
.containerf {
    width: 75%; 
    margin: 0 auto;
    text-align: justify;
}

.containerf p {
    text-align: justify;
}

/* Si quieres justificar solo el contenido del formulario y no otros elementos, puedes agregar una clase específica al formulario y apuntar a esa clase */
.formulario-justificado {
    text-align: justify;
}

.parrafof {
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
    font-size: 17px;
    font-weight: 1.1rem;
}

.labelf {
    display: block;
    font-weight: bold;
}

/* para que todos los campos de relleno por el usuario tengan las mismas medidas*/
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 15%; 
    height: 2.5rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
    
}
/* el de ChoiceField no se hace igual que los demás(los de arriba)*/
select{
    width: 15%; /* Ajusta según tus necesidades */
    /* Elimina la propiedad height o establece en auto */
    height: auto;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
}



/* todos los botones */
#btn-n {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right;
    background-color: rgb(89, 91, 91);;

}

#btn-nav{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right; 
}

/* para centrar el texto y el boton de la X de la pagina de confirmacion */
#botonClose{
    display: flex; /* Utilizamos flexbox para alinear contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; 
}

.ampliar-imagen {
    transform: scale(1.2); /* Cambia el tamaño de la imagen */
    transition: transform 0.3s ease; /* transición suave al cambiar el tamaño */
}