body{    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    background-color: rgb(237, 232, 232);
    margin: 0 auto;
    padding: 10px;
    max-width: 100%; 
    min-height: 65vh;
    margin-top: 100px;
} 

.container {
    width: 75%; 
    margin: 0 auto;
    text-align: justify;
}

.container p {
    text-align: justify;
}

/* Si quieres justificar solo el contenido del formulario y no otros elementos, puedes agregar una clase específica al formulario y apuntar a esa clase */
.formulario-justificado {
    text-align: justify;
}

h1 {
    /* para el titulo de AppSki y 'Viajes para esquiar en grupo'*/
    text-align: center;
    margin-bottom: 0px;
}

p {
    margin-bottom: 35px;
}

.form-group {
    margin-bottom: 20px;
    font-size: 17px;
}

label {
    display: block;
    font-weight: bold;
}

/* para que todos los campos de relleno por el usuario tengan las mismas medidas*/
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 300px; 
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
}
/* el de ChoiceField no se hace igual que los demás(los de arriba)*/
select{
    width: 300px; 
    height: 40px; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
}
button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 15px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px; 
    
}


.link2{
    background-color: rgb(223, 216, 216);
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 700px; 
}

.link2 a{
    padding: 10px;
    text-decoration: none;
    color: rgb(46, 56, 122);
} 

.link2 a:hover{
    text-decoration: none;
    color: white !important;
    background-color: rgb(108, 111, 130);
}



/*Estilos para los hipervínculos*/
.link2 a:link,
.link2 a:visited {
    color: rgb(46, 56, 122);
}

/* language */
#language {
    width: 200px; /* Define el ancho deseado */
    padding: 5px; /* Agrega relleno para mejorar el aspecto visual */
    float: right;

}

button[type="submit"] {
    padding: 8px 15px; /* Define el espaciado interno del botón */
    float: right;

}

/* para dejar espacio entre la barra y los campos para el cambio de idioma*/
#idioma {
    padding: 20px;
    display: flex;
    justify-content: flex-end; 
    width: auto; 
}

/* Estilos para el botón de cambio de idioma en todas las páginas, incluido el formulario */
.cambio {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px; /* Ajusta el margen según sea necesario */
}
