{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <title>{% block titulo %}AppSki{% endblock %}</title>
    </head>
    <body>
        <div id="content">
            <nav>
                <ul class="link1">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'localidades' %}">Localidades</a></li>
                    <li><a href="{% url 'estaciones_todas' %}">Estaciones</a></li>
                    <li><a href="{% url 'pistas_todas' %}">Pistas</a></li>
                    <li><a href="{% url 'servicios_todos' %}">Servicios</a></li>
                </ul>
            </nav>
	     <h1>AppSki</h1>
            {% block contenido %}{% endblock %}
        </div>
    </body>
</html>