{% load static %}
{% load i18n %}
<!DOCTYPE html>
<!--<html lang = "{% trans 'en' %}"-->
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/estilosformulario.css' %}">
        <title>{% block titulo %}AppSki{% endblock %}</title>
    </head>
    <body>
        <div id="content">
            <div id = "idioma">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language" id="language">
                        {% for lang_code, lang_name in LANGUAGES %}
                            <option value="{{ lang_code }}"
                                {% if lang_code == request.LANGUAGE_CODE %}
                                    selected
                                {% endif %}>
                                {{ lang_name }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="submit">Change Language</button>
                </form>
            </div>
            <nav>
                <ul class="link2">
                    <li><a href="{% url 'index' %}">{% trans 'Inicio' %}</a></li>
                    <li><a href="{% url 'localidades' %}">{% trans 'Localidades' %}</a></li>
                    <li><a href="{% url 'estaciones_todas' %}">{% trans 'Estaciones' %}</a></li>
                    <li><a href="{% url 'pistas_todas' %}">{% trans 'Pistas' %}</a></li>
                    <li><a href="{% url 'servicios_todos' %}">{% trans 'Servicios' %}</a></li>
                    <li><a href="{% url 'show_formulario' %}">{% trans 'Formulario' %}</a></li>
                </ul>
            </nav>
            
	     <h1>AppSki</h1>
            {% block contenido %}{% endblock %}
        </div>
    </body>
</html>  