{% load static %}
{% load i18n %}
<!DOCTYPE html>
<!--<html lang = "{% trans 'en' %}"-->
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/estilosformulario.css' %}">
        <title>{% block titulo %}AppSki{% endblock %}</title>
    </head>
    <body>
        <div id="content">
            <nav>
                <ul class="link2">
                    <li><a href="{% url 'index' %}">{% trans 'Inicio' %}</a></li>
                    <li><a href="{% url 'localidades' %}">{% trans 'Localidades' %}</a></li>
                    <li><a href="{% url 'estaciones_todas' %}">{% trans 'Estaciones' %}</a></li>
                    <li><a href="{% url 'pistas_todas' %}">{% trans 'Pistas' %}</a></li>
                    <li><a href="{% url 'servicios_todos' %}">{% trans 'Servicios' %}</a></li>
                    <li><a href="{% url 'show_formulario' %}">{% trans 'Formulario' %}</a></li>
                </ul>
            </nav>
            <form action="{% url 'change_language' 'en' %}" method="post">{% csrf_token %}
                <button type="submit">English</button>
            </form>
    
            <form action="{% url 'change_language' 'es' %}" method="post">{% csrf_token %}
                <button type="submit">Español</button>
            </form>
	     <h1>AppSki</h1>
            {% block contenido %}{% endblock %}
        </div>
    </body>
</html>  