{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block titulo %}Listado de localidades{% endblock %}

{% block contenido %}
    <h2>{% trans 'Estaciones' %}</h2>
    <h3>{{localidad.nombre}}</h3>
    {% if estaciones %}
        {% for e in estaciones %}
            <div class="imgIndex">
                <div class="texto">
                    <a href="{% url 'estacion' pk=e.id%}" class="nombre-estacion">{{e.nombre}}</a>
                </div>
                <div class="imagenes">
                    <a href="{% url 'estacion' pk=e.id%}">
                    {% with "images/"|add:e.nombre|add:".jpg" as imagen %}
                    <img src="{% static imagen %}" alt="" class="imagen-estacion">
                    {% endwith %}
                </a>
                </div>
            </div> 
        {% endfor %}
    {% else %}
        <p>{% trans 'No hay estaciones creadas.' %}</p>
    {% endif %}
        
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const nombresEstaciones = document.querySelectorAll('.nombre-estacion');
            const imagenesEstaciones = document.querySelectorAll('.imagen-estacion');
    
            nombresEstaciones.forEach(function(nombreEstacion, index) {
                nombreEstacion.addEventListener('mouseenter', function() {
                    imagenesEstaciones[index].classList.add('ampliar-imagen');
                });
    
                nombreEstacion.addEventListener('mouseleave', function() {
                    imagenesEstaciones[index].classList.remove('ampliar-imagen');
                });
    
                imagenesEstaciones[index].addEventListener('mouseenter', function() {
                    imagenesEstaciones[index].classList.add('ampliar-imagen');
                });
    
                imagenesEstaciones[index].addEventListener('mouseleave', function() {
                    imagenesEstaciones[index].classList.remove('ampliar-imagen');
                });
            });
        });
    </script>
    
{% endblock %}