{% extends "base.html" %}
{% load static %}
{% block titulo %}Detalles de la estacion{% endblock %}

{% block contenido %}
<header>
    <nav>
        <ul class="link">
            <li><a href="#datos">Datos de la estacion</a></li>
            <li><a href="#pistas">Pistas</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="{% url 'index' %}">Inicio</a></li>
        </ul>
    </nav>
</header>

{% if estacion %}

    <h2>{{ estacion.nombre}}</h2>
    <h3 id="datos">Datos de la estacion</h3>
    <div class="imagen">
        {% with "images/"|add:estacion.nombre|add:".jpg" as imagen %}
            <img src="{% static imagen %}" alt="">
        {% endwith %}
    </div>
    <ul>
        <li>
            Superficie(km): {{ estacion.superficie}}
        </li>
        <li>
            Precio por dia: {{ estacion.precio_dia}}
        </li>
        <li>
            Horario de apertura: {{ estacion.horario_ini}}
        </li>
        <li>
            Horario de cierre: {{ estacion.horario_fin}}
        </li>
        <li>
            Telefono: {{ estacion.telefono}}
        </li>
        <li>
            Estado: {{ estacion.estado}}
        </li>
        <li>
            Localidad: <a href="/appSki/localidades/{{ estacion.localidad.id }}/estaciones">{{ estacion.localidad}}</a>
        </li>
    </ul>
    
    <h3 id="pistas">Lista de pistas</h3>
    {% if pistas %}
        <ol>
            {% for p in pistas %}
                <li>
                    <a href="/appSki/pistas/{{ p.id }}">{{ p.nombre}}</a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No tiene pistas asociadas.</p>
    {% endif %}

    

    <h3 id="servicios">Lista de servicios</h3>
    {% if servicios %}
        <ol>
            {% for s in servicios %}
                <li>
                    <a href="/appSki/servicios/{{ s.servicio.id }}">{{ s.servicio.nombre }}</a>
                    {% if s %}
                        <ul>
                            <li>
                                Coste: {{ s.costo }}
                            </li>
                            <li>
                                Reserva: {{ s.reserva }}
                            </li>
                            <li>
                                Horario de apertura: {{ s.horario_ini }}
                            </li>
                            <li>
                                Horario de cierre: {{ s.horario_fin }}
                            </li>
                        </ul>
                    {% else %}
                        <p>No existe ningun servicio.</p>
                    {% endif %}
                    
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No tiene servicios asociados.</p>
    {% endif %}
    
{% else %}
    <p>No existe esta estacion.</p>
{% endif %}
{% endblock %}
