{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block titulo %}{% trans 'Todas las estaciones' %}{% endblock %}

{% block contenido %}
    <div id="app">
        <h2>{% trans 'Listado de todas las estaciones' %}</h2>
        {% if todasLasEstaciones %}
            {% for estacion in todasLasEstaciones %}
                <ul>
                    <li>
                        {{ estacion.nombre }}
                        <button @click="eliminarEstacion(index)">{% trans 'Eliminar' %}</button>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <p>{% trans 'No hay estaciones creadas.' %}</p>
        {% endif %}

        <div>
            <h2>{% trans 'Añadir nueva estacion' %}</h2>
            <form @submit.prevent="agregarEstacion">
                <label>{% trans 'Nombre' %}:</label>
                <input v-model="nuevaEstacion.nombre" type="text" placeholder="{% trans 'Nombre de la estacion' %}">
                <button type="submit">{% trans 'Agregar estacion' %}</button>
            </form>
            <ul>
                <li v-for="(estacion, index) in todasLasEstaciones.slice().reverse()" :key="index">
                    {{ estacion.nombre }}
                    <button @click="eliminarEstacion(index)">{% trans 'Eliminar' %}</button>
                </li>
            </ul>
        </div>
        
    </div>

    <script src="{% static 'js/vue.js' %}"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                todasLasEstaciones: [],
                nuevaEstacion: { nombre: '' }
            },

            mounted() {
                // Recuperar estaciones del almacenamiento local al cargar la página
                const storedEstaciones = localStorage.getItem('estaciones');
                this.todasLasEstaciones = storedEstaciones ? JSON.parse(storedEstaciones) : [];
            },
            methods: {
                agregarEstacion: function (event) {
                    if (this.nuevaEstacion.nombre.trim() !== '') {
                        this.todasLasEstaciones.unshift({ nombre: this.nuevaEstacion.nombre });
                        this.nuevaEstacion.nombre = '';
                        this.guardarEstacionesLocalmente();

                    }
                },
                eliminarEstacion: function (index) {
                    this.todasLasEstaciones.splice(index, 1);
                    this.guardarEstacionesLocalmente();

                },

            },
                guardarEstacionesLocalmente: function () {
                    localStorage.setItem('estaciones', JSON.stringify(this.todasLasEstaciones));
                }
            
        });
    </script>
{% endblock %}
