{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block titulo %}{% trans 'Detalles de la estacion' %}{% endblock %}

{% block contenido %}

{% if estacion %}

<div class="estacion-details">
    <div class="imagen">
        {% with "images/"|add:estacion.nombre|add:".jpg" as imagen %}
            <img src="{% static imagen %}" alt="">
        {% endwith %}
    </div>
    <div class="datos-estacion">
        <h2>{% trans estacion.nombre %}</h2>
        <h3 id="datos">{% trans 'Datos de la estacion' %}</h3>
        <ul>
            <li>{% trans 'Superficie(km):' %} {{estacion.superficie}}</li>
            <li>{% trans 'Precio por dia:' %} {{estacion.precio_dia}}</li>
            <li>{% trans 'Horario de apertura:' %} {{estacion.horario_ini}}</li>
            <li>{% trans 'Horario de cierre:' %}' {{estacion.horario_fin}}</li>
            <li>{% trans 'Telefono:' %} {{estacion.telefono}}</li>
            <li>{% trans 'Estado:' %} {% trans estacion.estado %}</li>
            <li>{% trans 'Localidad:' %} <a href="{% url 'estaciones' pk=estacion.localidad.id %}">{% trans estacion.localidad.nombre %}</a></li>
        </ul>
    </div>
</div>

    
    <h3 id="pistas">{% trans 'Lista de pistas' %}</h3>
    {% if pistas %}
        <ol>
            {% for p in pistas %}
                <li>
                    <a href="{% url 'pista' pk=p.id %}">{% trans p.nombre %}</a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>{% trans 'No tiene pistas asociadas.' %}</p>
    {% endif %}

    

    <h3 id="servicios">{% trans 'Lista de servicios' %}</h3>
    {% if servicios %}
        <ol>
            {% for s in servicios %}
                <li>
                    <a href="{% url 'servicio' pk=s.servicio.id %}">{% trans s.servicio.nombre %}</a>
                    {% if s %}
                        <ul>
                            <li>
                                {% trans 'Coste:' %} {{s.costo}}
                            </li>
                            <li>
                                {% trans 'Reserva:' %} {{s.reserva}}
                            </li>
                            <li>
                                {% trans 'Horario de apertura:' %} {{ s.horario_ini }}
                            </li>
                            <li>
                                {% trans 'Horario de cierre:' %} {{ s.horario_fin }}
                            </li>
                        </ul>
                    {% else %}
                        <p>{% trans 'No existe ningun servicio.' %}</p>
                    {% endif %}
                    
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>{% trans 'No tiene servicios asociados.' %}</p>
    {% endif %}
    
{% else %}
    <p>{% trans 'No existe esta estacion.' %}</p>
{% endif %}
{% endblock %}
