{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block titulo %}Listado de localidades{% endblock %}

{% block contenido %}
    <h2>{% trans 'Estaciones' %}</h2>
    <h3>{{localidad.nombre}}</h3>
    {% if estaciones %}
        {% for e in estaciones %}
            <div class="imgIndex">
                <div class="texto">
                    <a href="{% url 'estacion' pk=e.id%}">{{e.nombre}}</a>
                </div>
                <div class="imagenes">
                    {% with "images/"|add:e.nombre|add:".jpg" as imagen %}
                    <img src="{% static imagen %}" alt="">
                    {% endwith %}
                </div>
            </div> 
        {% endfor %}
    {% else %}
        <p>{% trans 'No hay estaciones creadas.' %}</p>
    {% endif %}
{% endblock %}