{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block titulo %}{% trans 'Viajes en grupo' %}{% endblock %}


{% block contenido %}
<div class="containerf">
<h2>{% trans 'Viajes en grupo' %}</h2>

    <p class="parrafof">{% trans '¿Quieres organizar un viaje inolvidable para esquiar con tu grupo?' %}
        {% trans '¿Eres parte de una empresa, un grupo numeroso o un grupo escolar buscando una escapada a la nieve?' %}
        {% trans 'En Esquiades.com te ofrecemos una amplia selección de alojamientos y hoteles especialmente diseñados para grupos.'%}
        {% trans 'Tenemos ofertas adaptadas a empresas, grupos de más de 25 personas y escolares.' %}
        {% trans 'Además de forfaits, alojamiento, material de esquí y comidas en pista, también podemos organizar otros servicios según vuestras necesidades.'%}
        </p>
    
    <p class="parrafof">{% trans 'Con años de experiencia y clientes satisfechos,' %}
        {% trans 'hemos ofrecido los mejores precios y un trato personalizado para viajes de esquí en grupo.' %}
        {% trans 'Si estás interesado en obtener más información, completa el siguiente formulario.'%}
    </p>
    <!-- CAMBIAR A JPJ -->
    <div class="foto">
        <label class="labelf">{% trans '+25 personas' %} </label>
        <img src="{% static 'images/people.png' %}" alt="Descripción de la imagen 2">
    </div>
    <div class="foto">
        <label class="labelf">{% trans 'Empresas' %}</label>
        <img src="{% static 'images/companies.png' %}" alt="Descripción de la imagen 2">
    </div>
    <div class="foto">
        <label class="labelf">{% trans 'Escolares' %}</label>
        <img src="{% static 'images/schoolchildren.png' %}" alt="Descripción de la imagen 2">
    </div>
    <form method="post" id="mFormulario" class="formulario-justificado">
        {% csrf_token %}
        <div class="form-group">
            {{ formulario.as_p }}
        </div>
        <p>
            {% trans 'Enviando este formulario entiendes y aceptas de forma expresa la política de privacidad de datos.' %}
            {% trans 'Este sitio está protegido por reCAPTCHA y las políticas de privacidad de Google y condiciones de uso.'%}
        </p>
        <button id="btn-n" type="submit">{% trans 'Enviar' %}</button>
    </form>
</div>
{% endblock %}
