{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block titulo %}{% trans 'Portada' %}{% endblock %}


{% block contenido %}
<div class="portada">

    {% for estacion in estaciones_filtradas %}
        <div class="localidad">
            <h2>{% trans estacion.localidad.nombre %}</h2>
            
            {% with estacion_filtrada=estacion %}
                {% if estacion_filtrada %}
                <h3><a href="{% url 'estacion' estacion_filtrada.id %}">{% trans estacion_filtrada.nombre %}</a></h3>
                    <div class="imagenPortada">
                        {% with "images/"|add:estacion_filtrada.nombre|add:".jpg" as imagen %}
                            <img src="{% static imagen %}" alt="{{ estacion_filtrada.nombre }}">
                        {% endwith %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>

    {% endfor %}
</div>

<script>
    /* DUDA */
    /* 
        1. me sale solo a veces el mensaje
        2. no sé si se puede usar lo de localStorage
        3. lo había hecho solo con alert pero me sale cada vez que le doy a Inicio entonces
    */
    alert("¡Bienvenid@ a nuestra página de esquí! Descubre las mejores estaciones, pistas y una gran cartelera de servicios para unas vacaciones increibles.")
    /*if (!localStorage.getItem('mensajeMostrado')) {
        alert('¡Bienvenid@ a nuestra página de esquí! Descubre las mejores estaciones, pistas y una gran cartelera de servicios para unas vacaciones increibles.');
        localStorage.setItem('mensajeMostrado', 'true'); 
    */
</script>
{% endblock %}

