{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block titulo %}{% trans 'Listado de localidades' %}{% endblock %}

{% block contenido %}

{% if lista_localidades %}
    {% for l in lista_localidades %}
    <div class="imgIndex">
        <div class="imagenes">
            {% with "images/"|add:l.nombre|add:".jpg" as imagen %}
                <div class="img-container">
                    <img src="{% static imagen %}" alt="">
                    <div class="texto-superpuesto">
                        <a href="{% url 'estaciones' pk=l.id %}">{{l.nombre}}</a>
                    </div>
                </div>
            {% endwith %}
        </div>
    </div>
    {% endfor %}
    </div>
             
{% else %}
    <p>{% trans 'No hay localidades creadas.' %}</p>
{% endif %}

{% endblock %}


      

