{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block titulo %}{% trans 'Datos de pista' %}{% endblock %}

{% block contenido %}
<div class = "imagen_pista">
    <img id = "color" src="{% static 'images/colores.png' %}" alt="">
    <img id = "pista" src="{% static 'images/pista.jpg' %}" alt="">
</div>
<h2>{% trans 'Datos de la pista' %}</h2>


{% if pista %}
    <ul>
        <li>
            {% trans 'Nombre:' %} {{pista.nombre}}
        </li>
        <li>
            {% trans 'Color:' %} {{pista.color}}
        </li>
        <li>
            {% trans 'Estado:' %} {{pista.estado}}
        </li>
    </ul>
{% else %}
    <p>{% trans 'No existe esta pista.' %}</p>
{% endif %}
{% endblock %}