{% extends "base.html" %}
{% load static %}
{% block titulo %}Listado de localidades{% endblock %}

{% block contenido %}
<!-- volver al principio-->
<nav class="boton">
    <form action ="{% url 'index' %}" method="get">
        <button type = "submit">Inicio</button>
    </form>
</nav>
<h1>AppSki</h1>

<h2>Datos de la pista</h2>

{% if pista %}
    <ul>
        <li>
            Nombre: {{ pista.nombre}}
        </li>
        <li>
            Color: {{ pista.color}}
        </li>
        <li>
            Estado: {{ pista.estado}}
        </li>
    </ul>
{% else %}
    <p>No existe esta pista.</p>
{% endif %}
{% endblock %}