<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>Detalles de la pista</title>
</head>

<body>
    <div id="content">
        <h1>Gestor de estaciones</h1>

        <h2>Datos de la pista</h2>

        {% if pista %}
            <h3>{{ pista.nombre}}</h3>
            <h3>Lista de estaciones</h3>
            
            {% if estaciones %}
            <ol>
                {% for e in estaciones %}
                    <li>
                        <a href="/appSki/estaciones/{{ e.id }}">{{ e.nombre}}</a>
                    </li>
                {% endfor %}
            </ol>
            {% else %}
                <p>No tiene estaciones asociados.</p>
            {% endif %}
        {% else %}
            <p>No existe esta pista.</p>
        {% endif %}

    </div>
</body>

</html>