{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block titulo %}{% trans 'Datos del servicio' %}{% endblock %}

{% block contenido %}
    <h2>{% trans 'Datos del servicio' %}</h2>

    {% if servicio %}
    <div class="contenido_servicio">
        <div class="imagen_servicio">
            {% with "images/"|add:servicio.nombre|add:".jpg" as imagen %}
                <img src="{% static imagen %}" alt="">
            {% endwith %}
        </div>
        <div class="texto_servicio">
            <h3>{{servicio.nombre}}</h3>
            <h3>{% trans 'Lista de estaciones con ese servicio' %}</h3>
            
            {% if estaciones %}
            <ol>
                {% for e in estaciones %}
                    <li>
                        {{e.nombre}}
                    </li>
                {% endfor %}
            </ol>
            {% else %}
                <p>{% trans 'No tiene estaciones asociados.' %}</p>
            {% endif %}
        </div>
    </div>      
    
    {% else %}
        <p>{% trans 'No existe este servicio.' %}</p>
    {% endif %}
{% endblock %}